*.sql
*.zip
*.xls
*.apk
*.exe
assets/*.png
assets/*.jpg
assets/*.jpeg
assets/*.gif
assets/fontawesome/
assets/ace/*.html
assets/ace/*.png
assets/ace/*.jpg
assets/ace/*.jpeg
assets/ace/*.txt
assets/ace/*.md
assets/admin/*.png
assets/admin/*.jpg
assets/admin/*.jpeg
assets/admin/*.html
assets/admin/build
assets/admin/docs
assets/admin/pages
assets/fontawesome
assets/front/*.html
assets/front/*.jpg
assets/front/*.jpeg
assets/front/*.png
assets/gambar/*.png
assets/gambar/*.jpeg
assets/gambar/*.gif
assets/gambar/*.jpg
vendor/
