*.sql
*.zip
*.xls
*.apk
*.exe
assetspublic//*.png
assetspublic//*.jpg
assetspublic//*.jpeg
assetspublic//*.gif
public/assets/fontawesome/
public/assets/ace/*.html
public/assets/ace/*.png
public/assets/ace/*.jpg
public/assets/ace/*.jpeg
public/assets/ace/*.txt
public/assets/ace/*.md
public/assets/admin/*.png
public/assets/admin/*.jpg
public/assets/admin/*.jpeg
public/assets/admin/*.html
public/assets/admin/build
public/assets/admin/docs
public/assets/admin/pages
public/assets/fontawesome
public/assets/front/*.html
public/assets/front/*.jpg
public/assets/front/*.jpeg
public/assets/front/*.png
public/assets/gambar/*.png
public/assets/gambar/*.jpeg
public/assets/gambar/*.gif
public/assets/gambar/*.jpg
vendor/
